.markdown-body h1{
color: black;
}

p{
    color: black !important;
}

html, body, #container{
    background: #fafafa !important;
    height: 100vh !important;
}

.back-link{
    margin: 0 auto;
    display: block;
}